<h1><%= @restaurant.name %></h1>

<h6>Address: <%= @restaurant.address %></h6>
<h6>Phone number: <%= @restaurant.phone_number %></h6>
<h6>Category: <%= @restaurant.category %></h6>

<h3>Reviews</h3>

<% @reviews.each do |review| %>
  <div class="review_section">
    <%= review.content %> | <%= '*' * review.rating %>
  </div>
<% end %>

<h1>New review for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.select :rating, Review::RATINGS, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
